src/funcTest/resources/multiple/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="./profile.xsd"/>

    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="profile" type="Profile" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:long"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
